<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${menu} and ${menu.cheeses.size()}">Fool, this menu doesn't have anything in it.</p>
<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>

    <tr th:each="cheese : ${menu.cheeses}">
        <td th:text="${cheese.name}"></td>
        <td th:text="${cheese.description}"></td>
        <td th:text="${cheese.category.name}"></td>
    </tr>

</table>
<a th:href="@{'/menu/add-item/?id=' + ${menu.id}}">Add a cheese to this menu</a>

</body>
</html>